<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mzk.compass.youqi">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--请求访问使用照相设备-->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logoda"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.login.SplashAct"
            android:screenOrientation="portrait"
            android:theme="@style/AppSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.login.LoginAct"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.TabHomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.mine.MineProjectTabAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.OneStepAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.message.MessageTabAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.order.OrderTabAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.order.OrderDetailAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.vip.VipCenterAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineFavTabAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.SettingAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineInfoAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.FeedbackAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.common.CityListAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.project.ProjectDetailAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.project.ProjectListAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.news.NewsDetailAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.people.PeopleListAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.product.ProductListAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.publish.PublishAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.article.ArticleTabAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.RegisterAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.Register2Act"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.common.RemindAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.product.ProductDetailAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.UpdateInfoAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".ui.mine.UpdateIntroAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".ui.mine.CustomerServiceAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.AboutUsAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.message.MessageInteractAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.message.MessageReplyAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.help.ProductOrderComfirmAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.help.OrderPayAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.help.TypeListAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.organ.OrganDetailAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.message.MessageTradeAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.message.MessageSystemAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.identify.personal.IdentifyPersonalAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.identify.IdentifyManagerAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.identify.personal.MemberMangerAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.identify.personal.MemberAddAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.identify.company.CompanyManagerAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.identify.company.CompanyCreateAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.identify.company.CompanyCreateNextAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.identify.company.IndustryAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.identify.company.CompanyIdentifyAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.identify.company.IdentifyProcessAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.vip.RechargeAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.account.AccountManagerAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.account.UpdatePsdAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.account.CheckPhoneAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.account.UpdatePhoneAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.account.ManagerSuccessAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.account.CardAddAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.account.CardListAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.account.IdentifyAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.common.SearchCommonAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.ForgetPsdAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.ForgetPsd2Act"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.publish.PublishStateAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.state.StateListAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.state.StateDetailAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.people.PeopleDetailAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.people.RecommendSelfAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.article.ArticleDetailAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.people.PeopleApproveAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.organ.OrganListAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.project.SendMessageAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.project.PeopleViewAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.common.HomeCityListAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.people.PeopleStateAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.BindAct"
            android:screenOrientation="portrait" />


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5b15e9a08f4a9d27d1000046"></meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="b99c8ba7beb6f4c066b0f475ab659907"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="appstore"></meta-data>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106869025" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--微博分享-->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity android:name=".ui.common.WebViewAct" />
        <activity android:name=".ui.mine.ProjectRongZiAct" />

    </application>

</manifest>